.auth-password-title h2 {
  color: #3F53FE;
  font-size: 28px;
  text-align: center;
}

.auth-password-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}